body {
    background-color: rgb(146, 204, 249);
    font-family: "Gowun Batang", serif;
    font-weight: 400;
    font-style: normal;
    
}

.item-box-1 {
    background-color: rgb(98, 42, 111); 
    padding:  10px ;
    padding-top: 10px;
    border-radius: 30px;
    
}

.item-box-2 {
    background-color: rgb(98, 42, 111); 
    padding: 20px; 
    border-radius: 30px;
    height: auto;
    margin: 2px;
}

.item-box-3 {
    background-color: rgb(234, 57, 189); 
    padding: 20px;
    padding-top: 10px;
    border-radius: 30px;
    margin: 2px;
}

header nav {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
}

nav .navbar {
    width: 90%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

nav .navbar .logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(121, 21, 193); 
    display: flex;
    align-items: center;
    justify-content: center; 
}

.navbar .logo img {
    height: 60%;
    width: 60%;
    object-fit: contain;
}

.navbar .menu {
    display: flex;
    gap: 3px;
}

.navbar .menu li {
    list-style: none;
}

.menu li a {
    display: block;
    padding: 10px 20px;
    background-color: rgb(121, 21, 193);
    border-radius: 40px;
    text-align: center;
    font-size: 17px;
    color: rgb(247, 245, 245);
    font-weight: 500;
    text-decoration: none;
    cursor: pointer; 
    transition: background-color 0.3s;
    
}

.menu li a:hover {
    background-color: rgb(225, 217, 123);
}

.navbar .menu-link {
    display: flex;
    align-items: center;
}

.navbar .menu-link li {
    list-style: none;
    margin: 0 10px;
}

.menu-link li a {
    font-size: 17px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    text-decoration: none;
}
.menu-link li:first-child {
    border-right: 2px solid white;
    padding-right: 15px; 
}

.menu-link li:last-child {
    padding-left: 5px; 
}

.text-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: flex-start; 
    text-align: left;
    padding: 0;
    width: 100%; 
}

.title-banner {
    display: flex;
    align-items: center; 
}

.candle {
    margin-right: 10px; 
}

.title-banner .banner img {
    height: 100px; 
    width: auto;
    border-radius: 50px;
}
.item-box-2 h1 {
    font-size: 60px;
    color: rgb(255, 255, 255);
}
.item-box-2 h2 {
    font-size: 45px;
    color: rgb(255, 255, 255);
    margin-top: 1px;
}
.menu-toggle {
    display: block;
    padding: 10px 20px;
    border-radius: 40px;
    background-color: rgb(238, 240, 238);
    cursor: pointer; 
    font-size: 20px; 
    margin-top: 10px;
    color: rgb(0, 0, 0);
    transition: color 0.3s; 
}

.menu-toggle:hover {
    color: rgb(157, 160, 157); 
}
.scroll-down1 {
    position: absolute; 
    right: 65px; 
    bottom: 20px; 
    background-color: rgb(121, 21, 193); 
    color: rgb(254, 253, 253); 
    border: none; 
    border-radius: 20px; 
    padding: 10px 15px; 
    font-size: 18px;
    cursor: pointer; 
    transition: background-color 0.3s; 
    font-family: "Gowun Batang", serif;
}

.scroll-down1:hover {
    background-color: rgb(250, 234, 66);
}
.scroll-down2 {
    position: absolute; 
    right: 20px; 
    bottom: 20px; 
    background-color: rgb(121, 21, 193); 
    border: none; 
    border-radius: 20px;
    padding: 10px 15px; 
    font-size: 18px;
    cursor: pointer; 
    transition: background-color 0.3s;
}

.scroll-down2:hover {
    background-color: rgb(250, 234, 66);
}
.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px;
    width: 100%;
}

.image-grid a {
    display: block;
    width: 100%;
    border-radius: 20px; 
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease-in-out;
}

.image-grid img {
    width: 100%;
    height: auto;
    object-fit: cover; 
}

.image-grid a:hover {
    transform: scale(1.05);
}